/* Main styles */
:root {
  --primary-color: #0b0428;
  --secondary-color: #0rgb(22, 4, 93);
  --link-color: #dce3ed;
  --link-hover-color: #00bcd4;
  --font-family: "Arial", sans-serif;
}
body {
  overflow-x: hidden;
}
.nav-link {
  color: var(--link-color) !important;
}
.nav-link:hover {
  color: var(--link-hover-color) !important;
}
.custom-col-20 {
  width: 20% !important; /* Use !important to override Bootstrap's default */
}
main {
  flex: 1;
}

/* Card styles */
.card {
  border: none;
  border-radius: 10px;
}

/* Form styles */
.form-control:focus {
  border-color: #0d6efd;
  box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}
.bg-primary {
  background-color: var(--primary-color) !important;
}
/* Button styles */
.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  background-color: #0b5ed7;
  border-color: #0a58ca;
}

/* Alert styles */
.alert {
  border-radius: 8px;
}

/* Navbar styles */
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Utility classes */
.min-h-100 {
  min-height: 100px;
}
.card-body.sidebar {
  height: 100vh;
  display: flex;
  background: var(--primary-color);
  flex-direction: column;
  min-width: clamp(240px, 14.8vw, 320px);
  max-width: clamp(240px, 14.8vw, 320px);
  border-right: 0;
  z-index: 1032;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
ul.nav.flex-column {
  margin-top: 30px;
}
.d-flex.gap-2 {
  margin-top: 20px;
}
/* Responsive adjustments */
@media (max-width: 768px) {
  .card {
    margin-top: 1rem;
  }
}
